<% @page_title = 'Get Ideas from your employees' %>
<% @meta_description = 'Great ideas can come from anywhere'%>

<% if flash[:success].present? %>
          <div data-alert class="alert-box success radius text-center columns">
  				<%= flash[:success] %>
  				<a href="#" class="close">&times;</a>
			</div>
<% end %>

<% if flash[:alert].present? %>
          <div data-alert class="home-flash">
            <%= flash[:alert] %>
          </div>
<% end %>


<div class="row">
  <div class="small-11 small-centered text-center columns">
      <h1>Great ideas can come from anywhere!</h1>
      <!-- Add a new idea -->
      <%= link_to "Add your idea", new_idea_path, class: "button" %>
  </div>
</div>


<p class="text-center">Ideas so far: <%= pluralize(@ideas.count, "idea") %></p>



    <div class="row">

        <div class="large-8 columns">
      
            <% @ideas.each do |idea| %>
                <h4><%= link_to idea.title, idea_path(idea) %></h4>
                <p><%= truncate(idea.description, :length => 150, :separator => ' ')%> <br /> <%= link_to "Read more", idea_path(idea), :class => "radius secondary label" %></p>   
            <% end %>
        </div>

        <div class="large-4 columns">
          ...
        </div>
    </div>





