<% @page_title = 'Get Ideas from your employees' %>
<% @meta_description = 'Great ideas can come from anywhere'%>


<div class="row text-center">


    <div class="jumbotron">
      <h1>Great ideas can come from anywhere!</h1>
      <p>...</p>
      <p><%= link_to "Add your idea", new_idea_path, class: "btn btn-primary btn-lg" %></p>
    </div>
</div>

<div class="container">
    <div class="row">
       <div class="col-md-8">
          <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#ideas" aria-controls="ideas" role="tab" data-toggle="tab">Ideas (<%= pluralize(@ideas.count, "idea") %>)</a></li>
                    <li role="presentation"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">Challenges</a></li>
                </ul>

                <!-- Tabs Content -->             
                <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="ideas">
                              <% @ideas.each do |idea| %>
                                  <h4><%= link_to idea.title, idea_path(idea) %></h4>
                                  <p><em><%= truncate(idea.problem, :length => 150, :separator => ' ')%></em>

                                    <p>Tags: <%=raw idea.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')  %></p>
                                        <br /> 
                                      <%= link_to "Read more", idea_path(idea), :class => "label label-default" %>
                                      <%= link_to "edit", edit_idea_path(idea), :class => "label label-default" %>
                                      <%= link_to "delete", idea_path(idea), method: :delete, confirm: "Are you sure?", :class => "label label-default" %>
                                  </p>   

                              <% end %>
                          </div>


                          <div role="tabpanel" class="tab-pane active" id="challenges">
                              
                                  <h4>Challenges go here</h4>
                              
                          </div>
                </div>
       </div>

    </div>


        <div class="col-md-4">
          <h2>List of tags</h2>
            <% tag_cloud Idea.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
        </div>
    </div>
</div>

<!-- For tabs -->
<script>
      $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })

      $('a[data-toggle="tab"]').on('shown', function (e) {
        console.log(e.target); // activated tab
        console.log(e.relatedTarget); // previous tab
      });

      $('a[data-toggle="tab"]:first').tab('show');
</script>

